.jd_layout{
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    height: 1000px;
    margin: 0 auto;
    background-color: #ccc;
}
/* 顶部搜索块 */
.jd_search {
    /* 固定在顶部 position:fixed会导致宽度以视口为主
    所以要添加max-width */
    position: fixed;
    max-width: 640px;
    width: 100%;
    height: 40px;
    background-color: #e92322;
}
.jd_logo {
    width: 56px;
    height: 30px;
    position: absolute;
    left: 0;
    top:0;
    background-color: blue;
    background: url("./images/big.png");
}