html,
body {
  margin: 0;
  padding: 0;
  background-color: blueviolet;
}
html .box,
body .box {
  height: 100px;
  width: 100px;
  background-image: url('../images/kite.png');
  background-size: cover;
}
html .box2,
body .box2 {
  height: 100px;
  width: 100px;
  background-image: url('../images2/kite.png');
  background-size: cover;
}
